main{
  width: 300px;
  margin: 0 auto;
}

#main{
  width: 300px;
  height: 200px;
  margin-bottom: 8px;
}

nav ul{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

nav li{
  background-color: rgb(237, 241, 239);
  border: 1px solid rgb(237, 241, 239);
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  padding: 4px;
  cursor: pointer;
  box-shadow: 0 4px rgb(190, 190, 190);
  user-select: none;
}

nav li:hover{
  opacity: 0.7;
}

#play:active,
#prev:active,
#next:active{
  /* margin-top: 2px; */
  box-shadow: 0 2px rgb(190, 190, 190);
  transform:translateY(2px);
  /* position: relative;
  top:2px; */
}

#play{
  width: 100px;
}

#prev,
#next{
  width: 60px;
}

img{
  vertical-align: bottom;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.thumbnails{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.thumbnails img{
  width: 95px;
  margin-bottom:8px ;
  opacity: 0.5;
  cursor: pointer;
}

.thumbnails img:hover,
.thumbnails img.current{
  opacity: 1;
}

